.pf1.actor.sheet .item-summary,
.journal-page-content,
.editor .editor-content {
	table {
		border-color: var(--color-border-light-tertiary);

		tr {
			:is(td, th) {
				// Avoid smushing cell contents to left border
				padding: 0 2px;

				// Add column borders
				border-left: 1px solid hsl(30, 4%, 65%);
				border-right: 1px solid hsl(30, 4%, 65%);

				p:only-of-type {
					margin: 0;
				}
			}

			th {
				padding: 0.3em 2px;
			}
		}
	}

	// Editor
	&.ProseMirror {
		.tableWrapper {
			table {
				td {
					//border-style: none;
					border-left: 1px solid hsl(30, 4%, 65%);
					border-right: 1px solid hsl(30, 4%, 65%);
				}
			}
		}
	}
}
