.editor.prosemirror {
	.editor-menu {
		button {
			background: radial-gradient(circle, rgb(237 233 224 / 43%) 0%, rgb(229 216 197 / 23%) 150%);
			box-shadow: 0 0 5px #777;

			&:hover > span {
				box-shadow: 0 0 7px #333;
			}
		}
	}
}

.pf1.sheet {
	.editor {
		//border: 1px solid #6432171a;
		//flex: 1 100%;
		padding: 0.1em 0.5em;
	}
}
