.pf1 button,
form button,
button {
	//background: radial-gradient(circle, rgb(231 226 216) 20%, rgb(135 127 119) 150%);
	background: radial-gradient(circle, var(--rs-button-inner), var(--rs-button-outer));

	&:hover {
		&:not(:disabled) {
			background: radial-gradient(circle, var(--rs-button-hover-inner), var(--rs-button-hover-outer));
		}
	}

	&:disabled {
		color: var(--color-text-dark-inactive);
		background: radial-gradient(circle, var(--rs-button-disabled-inner), var(--rs-button-disabled-outer));
	}
}
