.chat-message .pf1 button,
.pf1.sheet button {
	background: radial-gradient(circle, rgb(203 194 175 / 20%) 0%, rgb(56 52 47 / 15%) 100%);

	&:hover {
		background: radial-gradient(circle, rgb(235 222 196 / 50%) 0%, rgb(129 110 87 / 50%) 150%);
	}
}
