@mixin scrollbar {
	scrollbar-width: thin;
	scrollbar-color: darkred tranparent;
}

// Improve scrollbar display on Firefox
.pf1.sheet {
	@include scrollbar;

	.traits,
	.inventory-list,
	.item-groups-list,
	.skills-list,
	.combat-attacks,
	.tab.settings,
	.description-container {
		overflow-y: scroll;
		@include scrollbar;
	}

	.tab.summary {
		overflow-y: auto;
		@include scrollbar;

		.subdetails-body {
			@include scrollbar;
		}
	}

	.tab section {
		@include scrollbar;
	}
}

#chat-log,
#combat-tracker {
	scrollbar-width: thin;
	scrollbar-color: darkred tranparent;
}

.sidebar-tab .directory-list {
	scrollbar-width: thin;
	scrollbar-color: darkred tranparent;
}
