:root {
	--color-chat-notification: orange;

	--rs-button-inner: rgb(219 214 204) 20%;
	--rs-button-outer: rgb(157 147 138) 250%;

	--rs-button-hover-inner: rgb(247 231 201) 20%;
	--rs-button-hover-outer: rgb(100 92 84) 150%;

	--rs-button-disabled-inner: rgb(213 209 203) 20%;
	--rs-button-disabled-outer: rgb(179 172 165) 150%;
}
