@mixin glow($color, $radius:5px) {
	text-shadow: 0 0 $radius $color;
}

@mixin verticalGradient($color, $pct:100%, $color2:transparent, $pct2:0%, $deg:0deg) {
	background: linear-gradient($deg, $color2 $pct2, $color $pct);
}

@mixin horizontalGradient($color, $pct:100%, $color2:transparent, $pct2:0%) {
	background: linear-gradient(90deg, $color2 $pct2, $color $pct);
}
