.app.sheet {
	.editor {
		> .tox-tinymce,
		> .editor-content {
			background-color: rgba(0.1, 0, 0, 0.03);
			border-radius: 0.5em;
			border: 1px solid #a59f9c80;
			padding: 0.1rem 0.3rem;
			//margin: .3rem 0;
			margin: 2px 0 2px 0;
			height: calc(100% - 4px);

			a[href] {
				color: #723602;
			}
		}
	}
}
