.pf1.item.sheet {
	form {
		header.sheet-header {
			flex: 0;

			.header-details {
				align-self: flex-start;
			}

			.itemname {
				flex: 1;

				margin: 0;
				padding: 0;
				height: unset;

				color: black;

				input {
					&[type='text'] {
						height: 1em;

						&::placeholder {
							color: #819180;
						}

						&[name='name'],
						&[name='system.unidentified.name'] {
							color: #3a5650;
						}
					}
				}
			}

			.itemname + .itemname {
				input {
					&[type='text'] {
						&[name='system.unidentified.name'] {
							color: #74897d;
						}
					}
				}
			}

			.item-subtitle {
				height: min-content;

				.item-status {
					line-height: unset;
					font-size: var(--font-size-12, 9pt);
				}
			}

			ul.summary {
				height: min-content;
				width: unset;
				//flex: 0;

				input[type='checkbox'] {
					height: 16px;
					width: 16px;
					flex: 0 16px;
				}

				> li {
					display: inline-flex;

					&:empty {
						display: none;
					}

					> label {
						display: inline-flex;
						align-items: center;
						gap: 3px;
						padding: 0 0.2rem;
					}
				}
			}
		}
	}
}
