.pf1.sheet.item.item-action {
	form {
		header.sheet-header {
			flex: 0 40px;
			.profile {
				flex: 0 40px;
				height: 40px;
				width: 40px;
			}

			.header-details {
				align-self: center;
			}

			.action-name {
				flex: 1;

				margin: 0;
				padding: 0;
				height: unset;

				color: black;

				input {
					&[type='text'] {
						height: 1em;

						&::placeholder {
							color: #819180;
						}

						&[name='name'] {
							color: #3a5650;
						}
					}
				}
			}
		}
	}
}
