:root {
	--color-border-highlight: sandybrown;
	--color-border-highlight-alt: orangered;
	--color-shadow-highlight: orange;

	--color-shadow-primary: sandybrown;

	--color-text-light-5: hsl(39deg 83% 62%);
}

#navigation #scene-list .scene.view {
	border-bottom-color: var(--color-border-highlight-alt);
}

#sidebar-tabs {
	box-shadow: 0 0 15px var(--color-shadow-primary);
}
