.window-app.filepicker {
	form {
		display: flex;
		flex-flow: column nowrap;
		height: 100%;

		section.filepicker-body {
			display: flex;
			flex-flow: column nowrap;
			overflow: hidden;

			.folders-list {
			}

			.files-list {
				//width: unset;
				//flex: 3;
			}
		}
	}
}
