.app.sheet {
	border-radius: 5px;

	> section.window-content {
		padding: 3px;
	}

	.window-content {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	> .window-resizable-handle {
		border-top-left-radius: 5px;
	}
}
