.app.pf1.sheet.actor {
	.tab.summary {
		.summary-header {
			>.profile {
				flex: 0;
				height: unset;
				width: unset;
				max-height: 160px;
				max-width: 160px;
			}

			.name-xp {
				gap: 3px;

				>.flexcol {
					gap: 3px;
				}

				.charname {
					margin: 0;
				}

				.hd-level {
					margin: 0;

					.xpbar span.bar {
	
					}
				}
			}

			.character-summary {
				input {
					padding: 0 3px;
				}

				>div {
					line-height: 1.5;
				}
			}
		}
	}
}
