@import '../mixins.scss';

.app.pf1.actor.sheet {
	.skills-list .skill,
	.inventory-list .item,
	.items-list .item {
		background-color: unset;

		&:nth-child(2n + 1) {
			background-color: rgba(50, 49, 44, 0.05);
		}

		// Disabled feats are more obvious
		&.disabled .item-name {
			@include glow(#ff000066, 7px);
		}

		// Replace hover color to less eye straining one
		&:hover {
			background-color: rgba(140, 130, 110, 0.25);
		}

		.item-summary {
			padding: 0 1.8rem;

			p {
				min-height: unset;
			}
		}
	}
}
