@use '../mixins';

.app.pf1.sheet {
	form {
		> nav.sheet-navigation,
		> section > .tab > nav.sheet-navigation {
			background-color: unset;

			flex: 0;
			margin: 0;

			> [data-tab] {
				display: flex;
				justify-content: center;
				height: unset;
				line-height: 1.25;

				&:not(.active) {
					//@include verticalGradient(#b3ada5, 100%);
					@include mixins.verticalGradient(#cbc5be, 100%);
				}

				&.active {
					@include mixins.verticalGradient(#524c4b, 200%);
					@include mixins.glow(palegoldenrod, 5px);
				}

				&[data-tab='spellbook'] {
					background-color: #864bff40;
					@include mixins.verticalGradient(#af88ff, 250%);

					&.active {
						background-color: #864bff66;
						@include mixins.glow(aliceblue, 5px);
						@include mixins.verticalGradient(#864bff, 250%);
					}
				}

				&[data-tab='feats'] {
					//@include verticalGradient(#dbae32, 250%);
					@include mixins.verticalGradient(#e5bd51, 250%);
					&.active {
						@include mixins.verticalGradient(#d99e00, 150%);
						@include mixins.glow(#fffcdc, 5px);
					}
				}
			}
		}

		> section > .tab > nav.sheet-navigation {
			> [data-tab] {
				&.active {
				}
			}
		}
	}
}
