.pf1.actor.sheet {
	.tab.skills {
		.skills-list {
			.skill-control {
				&.skill-create {
					width: 1rem;

					i {
						// Override 24px width; PF1's style is super-specific, so this is hard to override
						width: unset !important;
					}
				}
			}

			li.sub-skill {
				padding-left: 1.35rem;

				background-color: unset;

				&:nth-child(odd) {
					background-color: hsl(50deg 6% 18% / 5%);
				}
			}

			.skill {
				.rollable {
					display: inline-flex;
				}
			}
		}
	}
}
