.app.pf1.sheet.actor {
	.tab.summary {
		.subdetails-body {
			h3 {
				margin: 0;
			}

			h2 {
				margin: 0 0 3px 0;
			}

			.quick-actions {
				gap: 2px;

				li {
					margin: 0;
				}
			}
		}
	}
}
