.combat-sidebar {
	a.combat-control {
		//color: greenyellow;
		text-shadow: 0 0 3px #f40;

		&[data-control='endCombat'] {
			color: hsl(16deg 22% 50%);
		}

		&:hover {
			color: hsl(16deg 100% 50%);
			text-shadow: 0 0 7px #f40;
		}
	}
}
