.tab.directory[data-tab] .directory-list .directory-item.folder header > h3 {
	text-shadow: 0 0 5px black, 0 0 3px black, 0 0 1px black;
}

.tab.directory[data-tab] .directory-list .directory-item.folder header > h3 > i {
	text-shadow: none;
}
